---
layout: "page"
---
<header class="page-header">
  <h1 class="text-center">
    Yet Another Programming Podcast
  </h1>
</header>
{% for post in site.posts %}
  <section class="post panel panel-primary">
    <header class="panel-heading">
      <h2>
        {{post.title}}</a>
        <small>{{ post.date | date: "%Y/%m/%d" }} - {{ post.time }}</small>
      </h2>
    </header>
    <p class="panel-body">
      {{ post.excerpt }} <a href="{{ post.url }}">Listen and read the bookmarks!</a>
    <p>

    <ul class="text-center list-inline members">
      {% for member in post.members %}
        <li class="well well-sm">
          <img class="img-circle" src="/{{ member | slugify }}.jpg" width="24px">
          {{ member }}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}
