<hr>

<p>
  Everything written by us is copywritten under Creative Commons.
</p>

<ul class="list-unstyled">
  <li>Follow us <a href="{{ site.social.twitter }}">via Twitter</a></li>
  <li>Friend us <a href="{{ site.social.facebook }}">via Facebook</a></li>
  <li>Circle us <a href="{{ site.social.gplus }}">via Google+</a></li>
  <li>Code with us <a href="{{ site.social.github }}">via Github</a></li>
  <li>Listen to us <a href="{{ site.social.itunes }}">via iTunes</a></li>
  <li>Subscribe to us <a href="/feed.xml">via RSS</a></li>
  <li>Or just <a href="mailto:{{ site.social.email }}">email us</a></li>
</ul>
