---
layout: default
---
<article class="article col-md-8 col-md-offset-2">
  <header class="banner">
    <h1 class="title">
      <a href="{{ page.url }}">{{ page.title }}</a>
    </h1>

    <ul class="list-inline members text-muted">
      {% for member in page.members %}
        <li>
          <img class="img-circle" src="/{{ member | slugify }}.jpg" width="24px">
          {{ member }}
        </li>
      {% endfor %}
      <li>
      <li>
        {{ page.date | date: "%Y/%m/%d" }}
      </li>
    </ul>
  </header>

  {{ content }}
</article>
